*{
  background-color: #F8FAFC;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

body{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4E80EE;
}


h1{
  font-size: 2.25rem;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 50px;
  margin-top: 50px;
}

p{
  font-size: 1rem;
}

li{
  margin-bottom: 20px;
}

ul{
  margin-bottom: 30px;
}

hr{
  border: none;
  height: 2px;
  background-color: #D2D5DA;
}
strong{
  font-weight: 700;
  margin-right: 10px;
}
.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3,auto);
  gap: 30px;
}

.head{
  grid-row: 1;
  grid-column: 1/ 6;
  text-align: center;
  background-color: #FFFFFF;
}

.middle{
  grid-row: 2;
  grid-column: 2 /5;
}

.bottom{
  grid-row: 3;
  grid-column: 2/ 5;
}

.head p{
  margin-bottom: 70px;
  margin-top: -10px;
}

.head h1{
  margin-top: 50px;
}

.head h1, .head p{
  background-color: #FFFFFF;
}

.middle p:nth-of-type(1), .bottom p:nth-of-type(1){
  margin-bottom: 30px;
}



